/*!
 * CSS Stylesheet
 * Angular2 Web Application
 */

/*
 *  Home Page
 */
.home {
	width: 100%;
	text-align: center;
    font-size: 45px;
    margin-top: 250px;
	color: #ccc;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}
.home span {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
}

/*
 *  Error Page
 */
.error-title-row {
	border-bottom: 1px solid #ddd;
	background-color: #f8f8f8;	
}

.error-title-row .col-header {
	background-image: linear-gradient(to bottom,#cc0000 0,#f75100 100%);
    color: #fff;
	padding: 10px 15px;
}

.error-title-row .col-header h3 {
    font-size: 17px;
    margin-top: 10px;
}

.error-desc-row {
	background-color: #fff;	
}

.error-desc-row .col-body {
	background-color: #fff;	
    font-size: 11px;
}

.error-desc-row .col-body .panel-footer {
	margin: 0 -1em;
}

/*********** PageView - Header ***********/
.row-header {
	margin: 15px 0 7px 0;
}

.row-header h3 {
    font-weight: 200;
    font-size: 17px;
	color: gray;
	margin: 0;
    margin-top: 14px;
    margin-left: -5px;    
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
}

.row-header h3 span:not(.glyphicon) {
	font-family: JosefinSans;
	font-weight: lighter;
	font-size: 34px;
}

.row-header h3 .glyphicon {
    font-size: 14px;
    opacity: 0.6;
}
.row-header h3 .btn {
	margin-top: -5px;
	margin-right: 6px;
}
.row-header h3 .icon {
	top: -1px;
}

.row-header > .col-page-title {
	width: 35%;	
}

.row-header > .col-table-actions {
	height: 100%;
	width: 65%;
	margin-right: 10px;
	bottom: 0;
	text-align: right;
	padding-right: 0;
	margin-top: 10px;
}

.row-header > .col-table-actions > .btn {
	margin-right: 10px;
}

.row-header > .col-table-actions > .abi-selected-group {
	padding-right: 10px;	
}
.row-header > .col-table-actions > .abi-selected-group > .btn:first-child:hover,
.row-header > .col-table-actions > .abi-selected-group > .btn:first-child {
	background-color: #f5f5f5;
	cursor: default;
	text-shadow: none;
}

.row-header > .col-table-actions > .abi-selected-group > .btn:first-child span {
	position: relative;
	top: -1px;
}

/*********** PageView - Body ***********/
.table-container {
	padding: 0.5em;
}

/* Filter Grid */
.row-filter {
	margin: 0;
	margin-bottom: 1em;
}

.col-filter {
	padding-right: 0.5em;
	padding-left: 0.5em;
	width: 20%;
	float: left;
}

.col-filter-search {
	padding-right: 1.5em;
	text-align: right;
	width: 20%;
	float: left;
}

.col-filter-edit {
	padding-right: 0.2em;
	padding-left: 0.2em;
}

.form-invalid > .form-control,
.form-invalid > ui-autocomplete input {
	border: 1px solid #f75100;	
}

.input-group.form-invalid > .input-group-addon {
	border: 1px solid #f75100;
	border-right: 0;
}

.input-group.form-invalid > .form-control,
.input-group.form-invalid > ui-autocomplete input {
	border-left: 1px solid #ccc;	
}

/* Generic */
.table td.col-no-items,
.table td.col-no-items:hover {
	padding: 7px;
	background-color: #f2dede;
    color: #a94442;
}

.table td.col-pagination {
	overflow: visible;
}
.table td.col-pagination > .row {
	margin: 0;
}

.table td.col-pagination > .row > .col-num-per-page {
	width: 15%;
	padding: 0;
	color: #777;
}
.table td.col-pagination > .row > .col-standard-pagination {
	width: 70%;
	padding: 0;
	text-align: center!important;
}

.table td.col-pagination > .row > .col-additional-pagination {
	width: 15%;
	padding: 0;
	text-align: right!important;
}

.table td.col-pagination > .row > .col-additional-pagination .btn:nth-child(2) {
	padding: 0 8px;
	cursor: default;
}
.table td.col-pagination > .row > .col-additional-pagination .btn:nth-child(2):hover,
.table td.col-pagination > .row > .col-additional-pagination .btn:nth-child(2):focus,
.table td.col-pagination > .row > .col-additional-pagination .btn:nth-child(2):active,
.table td.col-pagination > .row > .col-additional-pagination .btn:nth-child(2):focus:active,
.table td.col-pagination > .row > .col-additional-pagination .btn:nth-child(2):active:focus {
	box-shadow: none!important;
	background-color: #fff;
	outline: none;
}

.table td.col-pagination > .row > .col-additional-pagination .btn > span {
	position: relative;
	top: -1px;	
}
.table td.col-pagination > .row > .col-additional-pagination .btn > span:nth-child(2) {
	margin: 0;
}
.table td.col-pagination > .row > .col-additional-pagination .btn > .icon {
	top: -2px;
}


/*********** Dialogs ***********/
/* View */
.modal-header > .dropdown {
	float: right!important;
	margin-top: 1px;
	margin-right: 13px;
}

.modal-header > .dropdown > .btn:active,
.modal-header > .dropdown > .btn:focus,
.modal-header > .dropdown > .btn:active:focus,
.modal-header > .dropdown > .btn:focus:active,
.modal-header > .dropdown > .btn {
	height: 22px;
	color: rgba(0,0,0,0.2);	
	box-shadow: none !important;
	background-color: rgba(230,230,230,0.8);
}

.modal-header > .dropdown > .btn:focus,
.modal-header > .dropdown > .btn:hover {
	color: rgba(0,0,0,0.5);	
}
.modal-header > .dropdown > .btn {
	background-color: transparent;
}

.modal-header > .dropdown > .btn > .glyphicon {
	margin-right: -4px;	
}

.modal-header > .dropdown > .dropdown-menu {
	background-color: rgba(255,255,255,0.9);
	min-width: 120px;
	padding: 2px 0;
}

.modal-header > .dropdown > .dropdown-menu > li a {
	font-size: 11px;
	color: #777;
	padding: 3px 10px;
	cursor: pointer;
}
.modal-header > .dropdown > .dropdown-menu > li a:hover {
	background-image: none;
	background-color: rgba(230,230,230,0.8);	
}
.modal-header > .dropdown > .dropdown-menu > li a:focus {
	outline: 0;
}

.panel-view-title {
	font-size: 17px;
	color: #777;
}
.panel-view-subtitle {
	font-style: italic;
	font-size: 11px;
	color: #777;
	margin: 0;
}

.panel-view {
    border: 0!important;
    border-radius: 0!important;
	margin-bottom: 0!important;
	box-shadow: none; 
}

.panel-edit .panel-heading,
.panel-view .panel-heading {
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0!important;
    background-image: none;
}
.panel-edit .panel-heading {
    border-top: 0;	
}

.confirm-message,
.panel-view .panel-heading.panel-delete-confirm {
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    border-top: 1px solid #ddd;
    border-bottom: 0;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px!important;
    background-color: #f2dede;
    color: #a94442;
}

.edit-item-container,
.view-item-container {
	word-wrap: break-word;
	overflow-wrap: break-word;
    width: 100%;
    height: 100%;	
    font-size: 11px;
}
.view-item-container .CodeMirror-scroll {
	padding: 10px;
}
.edit-item-container .CodeMirror {	
    background-image: linear-gradient(to right, #fff 10%, #e3e3e3 100%);
}
.edit-item-container .CodeMirror-sizer {
	margin-left: 30px !important;	
}
.edit-item-container .CodeMirror-gutter.CodeMirror-linenumbers {
	width: 29px !important;
}
.row-view-info {
	margin: 0!important;
	min-width: 600px;
}

.row-delete-info {
	margin: 0!important;
}

.col-view-info {
	font-size: 11px;
	color: grey;
	padding: 10px 15px;
	border-right: 1px solid #ccc;
}

.col-view-info:last-child {
	border-right: 0;
}

/* Edit */
.row-edit-info {
	margin: 15px;
}

.edit-textarea {
	width: 100%;
	font-size: 11px;
	resize: vertical;
	min-height: 400px;
}

/****** Generic Style ******/
.panel-body-custom hr {
	margin: 50px 0 20px 0;
}

.row-form-grid > .col-section {
    width: 70%;
    margin-left: 10%;
}

.row-form-alert {
	margin: 0;
	border: 0;
	background-color: #f5f5f5;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.col-form-alert {
	color: gray;
	padding: 10px 15px;
	border-right: 1px solid #ccc;
}

.col-form-alert:last-child {
	border-right: 0;
}

.alert-message {
	margin: 10px 15px;
	color: grey;
}

/**** Modal ****/
.panel-edit .row-form-grid .row-form-entry,
.panel-view .row-form-grid .row-form-entry {
	margin: 3px 0;
}
.panel-edit .row-form-grid.row-filter .row-form-entry {
	margin: 3px 15px 0 -15px;	
}
.panel-edit .row-form-grid.row-select .row-form-entry {
	margin: 0 5px 0 -20px;	
}

.panel-view .row-form-grid .form-value,
.panel-edit .row-form-grid .form-value {
	width: 80%;
	border-bottom: 1px solid #0079ff;
	word-wrap: break-word;
	overflow-wrap: break-word;	
}
.panel-edit .row-form-grid.row-filter .form-value {
	width: 65%;	
}
.panel-edit .row-form-grid.row-filter .form-separator {
	padding-right: 0;
}
.panel-edit .row-form-grid.row-filter .form-separator hr {
	margin-bottom: 10px;
	margin-right: -15px;
}
.panel-edit .row-form-grid.row-select .form-value {
	width: 85%;	
}
.panel-edit .row-form-grid.row-filter .form-value.form-value-switch {
	border-bottom: 0;
}
.panel-edit .row-form-grid.row-filter .form-value.form-value-switch button {
	border: 0;
	background-color: transparent;
}
.panel-edit .row-form-grid.row-filter .form-label.form-label-switch {
	margin-top: 7px;
}

.panel-edit .row-form-grid .form-label,
.panel-view .row-form-grid .form-label {
	width: 20%;
	color: grey;	
	text-align: right;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	font-style: italic;
}
.panel-edit .row-form-grid.row-filter .form-label {
	text-align: right;
	width: 35%;	
}
.panel-edit .row-form-grid.row-select .form-label {
	width: 15%;	
}

.panel-edit .row-form-body .form-value .form-des,
.panel-edit .row-form-grid .form-value .form-des,
.panel-view .row-form-body .form-value .form-des,
.panel-view .row-form-grid .form-value .form-des {
	float: right;
	font-size: 11px;
	font-style: normal;
	text-align: right;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 1px;
}
.panel-edit .row-form-body .form-value > .form-des,
.panel-edit .row-form-grid .form-value > .form-des {
	padding-right: 15px;
}
.panel-edit .row-form-grid.row-select .form-value > .form-des {
	padding-right: 0;	
}

.panel-edit .row-form-table .row-form-body,
.panel-view .row-form-table .row-form-body {
	margin: 3px -15px;
}

.panel-edit .row-form-table .row-form-body.new-k {
    background-color: #eee;
    margin: 2px -15px;
    padding: 2px 0;
}


.panel-edit .row-form-table .row-form-head > .form-label,
.panel-view .row-form-table .row-form-head > .form-label {
	color: grey;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	font-style: italic;
}
.panel-edit .row-form-table .row-form-head > .form-label div,
.panel-view .row-form-table .row-form-head > .form-label div {
	border-bottom: 1px solid #ccc;
}

.panel-edit .row-form-table .row-form-head > .form-label:first-child,
.panel-edit .row-form-table .row-form-body > .form-label,
.panel-view .row-form-table .row-form-head > .form-label:first-child,
.panel-view .row-form-table .row-form-body > .form-label {
	width: 4%;
	color: grey;
	margin: 0;
	border : 0;
	text-align: right;	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	font-style: italic;
}

.panel-edit .row-form-table .row-form-head > .form-label,
.panel-edit .row-form-table .row-form-body > .form-value,
.panel-view .row-form-table .row-form-head > .form-label,
.panel-view .row-form-table .row-form-body > .form-value {
	width: 20%;
}	
.panel-edit .row-form-table .row-form-head > .form-label-des,
.panel-edit .row-form-table .row-form-body > .form-value-des,
.panel-view .row-form-table .row-form-head > .form-label-des,
.panel-view .row-form-table .row-form-body > .form-value-des {
	width: 28%;
}

.panel-edit > .panel-heading > .row-form-table,
.panel-view > .panel-heading > .row-form-table {
	margin: 0;
}
.panel-edit > .panel-heading > .row-form-table > .col-info,
.panel-view > .panel-heading > .row-form-table > .col-info {
	padding: 7px 15px;
	border-right: 1px solid #ccc;
}
.panel-edit > .panel-heading > .row-form-table > .col-info:last-child,
.panel-view > .panel-heading > .row-form-table > .col-info:last-child {
	border-right: 0;	
}
.panel-edit > .panel-heading > .row-form-table .row-form-body > .form-label,
.panel-view > .panel-heading > .row-form-table .row-form-body > .form-label {
	width: 20%;
}
.panel-edit > .panel-heading > .row-form-table .row-form-body > .form-value,
.panel-view > .panel-heading > .row-form-table .row-form-body > .form-value {
	width: 80%;
}

/* View Modal */	
.panel-view .row-form-grid .form-value .form-des,
.panel-view .row-form-body .form-value .form-des {
	width: 85%;
}

.panel-view .row-form-table .row-form-body > .form-value div {
	border-bottom: 1px solid #0079ff;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

/* Edit Modal */
.panel-edit {
    border: 0!important;
    border-radius: 0!important;
    margin-bottom: 0!important;
    box-shadow: none!important;
}

.panel-edit .row-form-grid .form-value {
	padding: 0;	
}

.panel-edit .row-form-body .form-value > div {
	border-bottom: 1px solid #0079ff;	
}

.panel-edit .row-form-grid .form-value .form-des {
	width: 56%;
}
.panel-edit .row-form-grid.row-select .form-value .form-des {
	width: 60%;
}
.panel-edit .row-form-body .form-value .form-des {
	width: 72%;
}

.panel-edit .row-form-grid .form-value ui-autocomplete input,
.panel-edit .row-form-grid .form-value input.form-input,
.panel-edit .row-form-body .form-value ui-autocomplete input,
.panel-edit .row-form-body .form-value input.form-input,
.panel-edit .row-form-body .form-value-des ui-autocomplete input,
.panel-edit .row-form-body .form-value-des input.form-input {
	font-size: 11px;
	font-weight: bold;
	color: #000;
	padding: 0 32px 3px 8px;
    border-width: 1px 0 0 1px;
	border-radius: 0;
    border-image: linear-gradient(to right, #e3e3e3 80%, #fff 100%);
    background-image: linear-gradient(to right, #f5f5f5 80%, #fff 100%);
    border-image-slice: 1;
	height: auto!important;
	width: 100%;
	min-width: 100%;
	line-height: 16px;
	box-shadow: none;
}

.panel-edit .row-form-grid .form-value ui-autocomplete > .ui-autocomplete-container,
.panel-edit .row-form-grid .form-value input.form-input:NOT(.autocomplete) {
	width: 40%;
	min-width: 40%;
}
.panel-edit .row-form-grid.row-filter .form-value ui-autocomplete > .ui-autocomplete-container {
	width: 100%;
}
.panel-edit .row-form-grid.row-filter .form-value input.form-input:NOT(.autocomplete) {
	width: 100%;
	min-width: 100%;
}
.panel-edit .row-form-body .form-value input.form-input:NOT(.autocomplete) {
	width: 100%;
	min-width: 100%;
}
.panel-edit .row-form-body .form-value-des ui-autocomplete > .ui-autocomplete-container,
.panel-edit .row-form-body .form-value-des input.form-input:NOT(.autocomplete) {
	width: 25%;
	min-width: 25%;
}

.panel-edit .row-form-body .form-value ui-autocomplete input:focus,
.panel-edit .row-form-body .form-value input.form-input:focus,
.panel-edit .row-form-body .form-value textarea.form-input:focus,
.panel-edit .row-form-grid .form-value ui-autocomplete input:focus,
.panel-edit .row-form-grid .form-value input.form-input:focus,
.panel-edit .row-form-grid .form-value textarea.form-input:focus {
    border-image: linear-gradient(to right, #0079ff 80%, #fff 100%);
    border-image-slice: 1;
}

.panel-edit .row-form-body .form-value ui-autocomplete.form-invalid input:focus,
.panel-edit .row-form-body .form-value ui-autocomplete.form-invalid input,
.panel-edit .row-form-body .form-value input.form-input.form-invalid:focus,
.panel-edit .row-form-body .form-value input.form-input.form-invalid,
.panel-edit .row-form-grid .form-value ui-autocomplete.form-invalid input:focus,
.panel-edit .row-form-grid .form-value ui-autocomplete.form-invalid input,
.panel-edit .row-form-grid .form-value input.form-input.form-invalid:focus,
.panel-edit .row-form-grid .form-value input.form-input.form-invalid {
    border-image: linear-gradient(to right, #f75100 80%, #fff 100%);
    border-image-slice: 1;
}

.panel-edit .row-form-grid .form-value ui-autocomplete input:disabled,
.panel-edit .row-form-grid .form-value input.form-input:disabled,
.panel-edit .row-form-body .form-value ui-autocomplete input:disabled,
.panel-edit .row-form-body .form-value input.form-input:disabled {
	cursor: not-allowed;
	color: #666;
    background-image: linear-gradient(to right, #ccc 80%, #fff 100%);
    border-image: linear-gradient(to right, #999 80%, #fff 100%);
    border-image-slice: 1;
}

.panel-edit > .panel-heading .row-form-body .form-value ui-autocomplete input:disabled,
.panel-edit > .panel-heading .row-form-body .form-value input.form-input:disabled {
    background-image: linear-gradient(to right, #ccc 80%, #f5f5f5 100%) !important;
    border-image: linear-gradient(to right, #999 80%, #f5f5f5 100%);
    border-image-slice: 1;
    margin-bottom: 0;
}

.panel-edit .row-form-grid .form-value input.form-input::-ms-clear,
.panel-edit .row-form-body .form-value input.form-input::-ms-clear {
    width: 17px!important;
    height: 17px!important;
    margin-bottom: -4px;
}
.panel-edit .row-form-body .form-value input.form-input:not(.autocomplete),
.panel-edit .row-form-grid .form-value input.form-input:not(.autocomplete) {
	padding-right: 3px;
}

.panel-edit .row-form-table .form-value textarea.form-input,
.panel-edit .row-form-grid .form-value textarea.form-input {
	width: 100%;
	min-height: 6em;
	max-height: 12em;
	font-size: 11px;
	font-weight: bold;
	padding: 1px 4px;
    border-width: 1px 0 0 1px;
	border-radius: 0;
    border-image: linear-gradient(to right, #e3e3e3 80%, #fff 100%);
    border-image-slice: 1;
    background-image: linear-gradient(to right, #f5f5f5 80%, #fff 100%);
    background-size: 40%;
    background-repeat: repeat-y;
	line-height: 15px;
	box-shadow: none;
}
.panel-edit .row-form-table-detail .form-value textarea.form-input {
	min-height: 3em;
	max-height: 6em;	
}

.panel-edit .row-form-table .form-value textarea.autosize-textarea,
.panel-edit .row-form-grid .form-value textarea.autosize-textarea {
	min-height: 33px;
	max-height: 63px;
}

.panel-edit .row-form-body .form-value ui-autocomplete .autocomplete-toggle,
.panel-edit .row-form-grid .form-value ui-autocomplete .autocomplete-toggle {
	top: 4px;
}
.panel-edit .row-form-body .form-value ui-autocomplete .ui-autocomplete-clear-btn,
.panel-edit .row-form-grid .form-value ui-autocomplete .ui-autocomplete-clear-btn {
	top: -4px;
}

.panel-edit .row-form-table .row-form-actions {
	margin: -10px -5px;
}

.panel-edit .row-form-table .row-form-actions button {
	margin: -5px -10px 0px 0;
	z-index: 999;
}

.panel-edit .row-form-table .row-form-actions .col-table-actions {
	margin-top: 0;
	text-align: right;
}

/* Detail Modal */
.panel-edit .row-form-table-detail,
.panel-view .row-form-table-detail {	
    width: 80%;
    margin-left: 10%;
}

.panel-edit .row-form-table-detail .row-form-body,
.panel-view .row-form-table-detail .row-form-body {
	margin: 10px -15px;
}

.panel-edit .row-form-table-detail .row-form-body:first-child,
.panel-view .row-form-table-detail .row-form-body:first-child {
	margin-top: 0;
}
.panel-edit .row-form-table-detail .row-form-body:last-child,
.panel-view .row-form-table-detail .row-form-body:last-child {
	margin-bottom: 0;
}

.panel-edit .row-form-table-detail .title,
.panel-view .row-form-table-detail .title {
	margin: 0px -15px -10px -15px;
	padding: 10px 15px;	
	background-color: #f5f5f5;
	border-radius: 4px;
	box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.075)
}
.panel-edit .row-form-table-detail hr,
.panel-view .row-form-table-detail hr {
	margin: 30px -15px 20px -15px;
}

.panel-edit .row-form-table-detail .row-form-head .form-label,
.panel-view .row-form-table-detail .row-form-head .form-label {
	width: 80%!important;
	text-align: left!important;
}
.panel-edit .row-form-table-detail .row-form-head .form-label:first-child,
.panel-view .row-form-table-detail .row-form-head .form-label:first-child {
	width: 20%!important;	
}

.panel-edit .row-form-table-detail .row-form-body .form-value,
.panel-view .row-form-table-detail .row-form-body .form-value {
	width: 80%!important;
}
.panel-edit .row-form-table-detail .row-form-body .form-label,
.panel-view .row-form-table-detail .row-form-body .form-label,
.panel-edit .row-form-table-detail .row-form-body .form-value:first-child,
.panel-view .row-form-table-detail .row-form-body .form-value:first-child {
	width: 20%!important;
}
.panel-edit .row-form-table-detail .row-form-body .form-value:first-child > div,
.panel-view .row-form-table-detail .row-form-body .form-value:first-child > div {
	border-bottom: 1px solid #ccc;
	height: 100%;
}

.panel-edit .row-form-table-detail .row-form-body .form-label > .tooltip.left,
.panel-view .row-form-table-detail .row-form-body .form-label > .tooltip.left {
	right: 8px;
}